/*Theme*/

.primary {
    background-color: #002248;
    color: #ffffff;
}

.secondary {
    background-color: #81D4FA;
    color: #000000;
}

.text-secondary {
    color: #81D4FA;
}

.btn.secondary {
    font-weight: 500;
}

.primary-hover:hover {
    background-color: #002248;
    color: #ffffff;
}

.text-secondary-hover:hover {
    color: #81D4FA !important;
}


/*Layout*/

.d-flex {
    display: flex;
}

.full {
    width: 100%;
}

.full-h {
    height: 100%;
}


/* Spacing */

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.pt-1 {
    padding-top: .5em;
}

.mt-1 {
    margin-top: .5em;
}

.mt-2 {
    margin-top: 1em;
}

.mb-2 {
    margin-bottom: 1em;
}

.my-2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.my-4 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.mx-4 {
    margin-left: 2em;
    margin-right: 2em;
}

.m-4 {
    margin: 2em;
}

.px-1 {
    padding-left: .5em;
    padding-right: .5em;
}

.px-2 {
    padding-left: 1em;
    padding-right: 1em;
}

.px-4 {
    padding-left: 2em;
    padding-right: 2em;
}

.p-2 {
    padding: 1em;
}

.p-4 {
    padding: 2em;
}


/* Typography */

.bold {
    font-weight: bold;
}


/* Specifics */

.nav-contact {
    font-size: larger;
}

#nav .nav-contact .material-icons {
    bottom: -4px;
    position: relative;
}

#nav .nav-wrapper .input-field {
    border: 2px solid #81D4FA !important;
    padding: 7px;
}

#nav .nav-wrapper .input-field input {
    margin: 0px !important;
}

#nav .nav-wrapper .input-field .material-icons {
    padding-top: 10px;
}

#nav .nav-wrapper .btn {
    height: 3rem;
}

nav .nav-wrapper a {
    font-size: 18px;
    border: 1px solid #002248;
    height: 64px;
}

nav .nav-wrapper .active a,
nav .nav-wrapper a:hover {
    background-color: white;
    color: #002248;
    font-weight: bold;
}

.sidenav-trigger {
    top: -12px;
    position: relative;
}

.logo {
    width: 200px;
}

#banner {
    height: 600px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}

#about-banner {
    height: 600px;
    background-image: url("../images/about-us.jpg");
    background-size: cover;
    background-position: center;
}

#product-carousel {
    position: relative;
}

#product-carousel #back,
#product-carousel #forward {
    z-index: 10;
    position: absolute;
    background-color: #ffffffcc;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    top: 50px;
    cursor: pointer;
}

#product-carousel #back {
    left: 40px;
}

#product-carousel #forward {
    right: 40px;
}

#product-carousel a .material-icons {
    font-size: 80px;
}

#product-carousel .card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#product-carousel .carousel {
    position: relative;
    top: -100px;
}

#product-carousel .carousel-item {
    opacity: 1 !important;
    width: 20%;
    height: 400px;
}

.brief-about {
    font-size: 18px;
}

#contact .card.horizontal {
    box-shadow: none;
}

#contact .card-image img {
    width: 120px;
    height: 100px;
    object-fit: contain;
    padding: 1rem;
}

#contact .horizontal .card-content {
    font-size: 18px;
}

#stats {
    background-image: url("../images/Untitled-1.jpg");
    background-position: center;
    background-size: cover;
}

#stats>div {
    background-color: rgba(0, 34, 72, 0.9);
}

#testimonial .row.p-4>.col {
    padding: 2em;
}

#testimonial .card {
    font-size: 18px;
}

#testimonial .card span {
    font-size: 200px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    font-weight: bold;
    top: -110px;
    left: 0px;
}

#testimonial .card .yb {
    height: 60px;
    margin: -2em;
}

#testimonial .card .border {
    border: 3px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

#clients .card {
    box-shadow: 0px 0px 2px #333333;
}

#clients .card img {
    max-width: 200px;
    width: 100%;
    object-fit: contain;
    height: 120px;
}

footer p {
    font-size: 18px;
}

footer #subscription-form .input-field {
    background-color: rgba(255, 255, 255, 0.3);
}

footer #subscription-form .input-field input {
    padding-left: 1em;
    margin: 0px !important;
    border: none !important;
}

footer #subscription-form .btn {
    height: 3rem;
}

@media only screen and (max-width: 992px) {
    #product-carousel .carousel-item {
        width: 100%;
    }
    #nav .nav-wrapper {
        float: right;
    }
}

@media (min-width: 992px) {
    .flex-full-xl {
        flex: 1 0 auto;
    }
}


/*Overrides*/

.btn {
    border-radius: 0px;
    box-shadow: none;
}

@media only screen and (min-width: 993px) {
    .container {
        max-width: 100%;
        width: 85%;
    }
}